/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

/*můj pokus o vytvoření mobilního náhledu*/
body {
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
}

h2 {
    font-size: 1.2rem;
}

.hlavni-recept .recept-nazev {
    font-size: 1.75rem;
}

.doporucujeme {
    display: flex;
    flex-wrap: wrap;

}

.hlavni-recept {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("burger.jpg");
    min-height: 200px;
    flex-basis: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.recept-meta {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}

.recept-nazev {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0.5rem;
    padding-top: 7rem;
    flex-wrap: wrap;
}

.sloupec {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.recept.recept2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("sushi.jpg");
} 

.recept.recept3 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("rajcata.jpg");
    
}

.recept.recept4 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("kure.jpg");
    
}

.recept.recept5 {
    background-image: url("grilovani.jpg");
    
}

.recept {
    min-height: 90px;
    flex-basis: 100%;
    background-position: center;
    background-size: 100%;
    border: 1px solid white;
}

/*konec pokusu o mobilní náhled/

/*pokus o query pro tablet*/

@media screen and (min-width: 480px) and (max-width: 860px) {

        .hlavni-recept {
            max-height: 400px;
            flex-grow: 2;
        }

        .sloupec {
            display: flex;
            flex-wrap: nowrap;
            flex-grow: 2;
        }
        
        .recept-meta {
            padding: 1.25rem;
        } 

        .hlavni-recept .recept-nazev {
            font-size: 2rem;
            padding-top: 10rem;
        }

        .recept-nazev {
            padding: 1.25rem;
            font-size: 1.5rem;

        }

    }

    /*pokus o query pro PC*/
    
    @media screen and (min-width: 860px) {

        .hlavni-recept {
            flex-direction: column;
            flex-wrap: wrap;
            flex-grow: 3;
        }

        .sloupec {
            display: grid;
            flex-wrap: wrap;
            flex-grow: 2;
        }

        .recept-meta {
            padding: 1.25rem;
        } 

        .hlavni-recept .recept-nazev {
            font-size: 3rem;
            padding-top: 10rem;
        }

        .recept-nazev {
            font-size: 1.75rem;
            padding: 1.25rem;
            padding-top: 4rem;

    }